body {
    font-family: 'Indie Flower', cursive, sans-serif;
    background-color: lightgrey;
}

h2, p {
    text-align: center;
}

.readme-wrapper {
    text-align: center;
    border: 1px none;
}

.pink-text {
    color: coral;
 }

.yellow-text {
     color: yellow;
 }

.boxes {
    display: block;
    position: relative;
    margin: 2px;
    padding: 5px;
    border: 1px solid goldenrod;
    border-radius: 5px;
    width: 30em;
}

 {  
        
}

.images {
    position: absolute;
    left: 70px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: darkcyan;
}

h1 {
    color: darkcyan;
}

.original {
    color: blueviolet;
}

.additional {
    color: crimson;
}

#show1 {
    color: darkgoldenrod;
}
#show2 {
    color: darkgreen;
}
#show3 {
    color: darkmagenta;
}
#show4 {
    color: darkred;
}
#show5 {
    color: darkslategray;
}

ul {
    list-style: square;    
}

.star{
    color: deeppink;
}

.wars{
    color: forestgreen;
}